
/UserApplicationLogging/packages
/UserApplicationLogging/UserApplication/bin
/UserApplicationLogging/UserModel/bin
/UserApplicationLogging/AppLogging/bin
/WindowsFormsProject/WindowsFormsProject/bin
