<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="stringConectare" value="Data source =virtualdb1; Initial catalog=dbJocuri; user id=student; password=Student_2023;" />-->
		<add key="stringConectare" value="Data Source=NEAGOE\SQLEXPRESS;Initial catalog=dbJocuri1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</appSettings>
</configuration>